**FEEL FREE TO UPVOTE**  （＾ｖ＾）

In [1]:
import numpy as np
import pandas as pd
import datetime
import gc
import matplotlib.pyplot as plt
import seaborn as sns
import lightgbm as lgb
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import mean_squared_error
import time
import warnings
warnings.filterwarnings('ignore')
np.random.seed(4590)

In [2]:
def get_new_columns(name,aggs):
    return [name + '_' + k + '_' + agg for k in aggs.keys() for agg in aggs[k]]

In [3]:
df_train = pd.read_csv('../input/elo-merchant-category-recommendation/train.csv')
df_test = pd.read_csv('../input/elo-merchant-category-recommendation/test.csv')
df_hist_trans = pd.read_csv('../input/elo-merchant-category-recommendation/historical_transactions.csv')
df_new_merchant_trans = pd.read_csv('../input/elo-merchant-category-recommendation/new_merchant_transactions.csv')
df_merchants = pd.read_csv('../input/elo-merchant-category-recommendation/merchants.csv')

In [4]:
gdf = df_hist_trans.groupby("card_id")
print(type(gdf))
gdf = gdf.agg({'merchant_category_id':['min']}).reset_index()
print(type(gdf))
gdf.columns = ["card_id", "merchant_category_id"]
df_train = pd.merge(df_train, gdf, on="card_id", how="left")
df_test = pd.merge(df_test, gdf, on="card_id", how="left")

<class 'pandas.core.groupby.groupby.DataFrameGroupBy'>
<class 'pandas.core.frame.DataFrame'>

In [5]:
gdf = df_hist_trans.groupby("card_id")
print(type(gdf))
gdf = gdf.agg({'merchant_category_id':['max']}).reset_index()
print(type(gdf))
gdf.columns = ["card_id", "max_merchant_category_id"]
df_train = pd.merge(df_train, gdf, on="card_id", how="left")
df_test = pd.merge(df_test, gdf, on="card_id", how="left")

<class 'pandas.core.groupby.groupby.DataFrameGroupBy'>
<class 'pandas.core.frame.DataFrame'>

In [6]:
for df in [df_hist_trans,df_new_merchant_trans]:
    df['category_2'].fillna(1.0,inplace=True)
    df['category_3'].fillna('A',inplace=True)
    df['merchant_id'].fillna('M_ID_00a6ca8a8a',inplace=True)

In [7]:
for df in [df_hist_trans,df_new_merchant_trans]:
    df['purchase_date'] = pd.to_datetime(df['purchase_date'])
    df['year'] = df['purchase_date'].dt.year
    df['weekofyear'] = df['purchase_date'].dt.weekofyear
    df['month'] = df['purchase_date'].dt.month
    df['dayofweek'] = df['purchase_date'].dt.dayofweek
    df['weekend'] = (df.purchase_date.dt.weekday >=5).astype(int)
    df['hour'] = df['purchase_date'].dt.hour
    df['authorized_flag'] = df['authorized_flag'].map({'Y':1, 'N':0})
    df['category_1'] = df['category_1'].map({'Y':1, 'N':0}) 
    #https://www.kaggle.com/c/elo-merchant-category-recommendation/discussion/73244
    df['month_diff'] = ((datetime.datetime.today() - df['purchase_date']).dt.days)//30
    df['month_diff'] += df['month_lag']

In [8]:
aggs = {}
for col in ['month','hour','weekofyear','dayofweek','year','subsector_id','merchant_id','merchant_category_id']:
    aggs[col] = ['nunique']
aggs['purchase_amount'] = ['sum','max','min','mean','var']
aggs['installments'] = ['sum','max','min','mean','var']
aggs['purchase_date'] = ['max','min']
aggs['month_lag'] = ['max','min','mean','var']
aggs['month_diff'] = ['mean']
aggs['weekend'] = ['sum', 'mean']
aggs['category_1'] = ['sum', 'mean']
aggs['card_id'] = ['size']

for col in ['category_2','category_3']:
    df_new_merchant_trans[col+'_mean'] = df_new_merchant_trans.groupby([col])['purchase_amount'].transform('mean')
    aggs[col+'_mean'] = ['mean']
    
new_columns = get_new_columns('new_hist',aggs)
df_hist_trans_group = df_new_merchant_trans.groupby('card_id').agg(aggs)
df_hist_trans_group.columns = new_columns
df_hist_trans_group.reset_index(drop=False,inplace=True)
df_hist_trans_group['new_hist_purchase_date_diff'] = (df_hist_trans_group['new_hist_purchase_date_max'] - df_hist_trans_group['new_hist_purchase_date_min']).dt.days
df_hist_trans_group['new_hist_purchase_date_average'] = df_hist_trans_group['new_hist_purchase_date_diff']/df_hist_trans_group['new_hist_card_id_size']
df_hist_trans_group['new_hist_purchase_date_uptonow'] = (datetime.datetime.today() - df_hist_trans_group['new_hist_purchase_date_max']).dt.days
df_train = df_train.merge(df_hist_trans_group,on='card_id',how='left')
df_test = df_test.merge(df_hist_trans_group,on='card_id',how='left')
del df_hist_trans_group;gc.collect()
del df_new_merchant_trans;gc.collect()

0

In [9]:
df_train.columns

Index(['first_active_month', 'card_id', 'feature_1', 'feature_2', 'feature_3',
       'target', 'merchant_category_id', 'max_merchant_category_id',
       'new_hist_month_nunique', 'new_hist_hour_nunique',
       'new_hist_weekofyear_nunique', 'new_hist_dayofweek_nunique',
       'new_hist_year_nunique', 'new_hist_subsector_id_nunique',
       'new_hist_merchant_id_nunique', 'new_hist_merchant_category_id_nunique',
       'new_hist_purchase_amount_sum', 'new_hist_purchase_amount_max',
       'new_hist_purchase_amount_min', 'new_hist_purchase_amount_mean',
       'new_hist_purchase_amount_var', 'new_hist_installments_sum',
       'new_hist_installments_max', 'new_hist_installments_min',
       'new_hist_installments_mean', 'new_hist_installments_var',
       'new_hist_purchase_date_max', 'new_hist_purchase_date_min',
       'new_hist_month_lag_max', 'new_hist_month_lag_min',
       'new_hist_month_lag_mean', 'new_hist_month_lag_var',
       'new_hist_month_diff_mean', 'new_hist_weekend_sum',
       'new_hist_weekend_mean', 'new_hist_category_1_sum',
       'new_hist_category_1_mean', 'new_hist_card_id_size',
       'new_hist_category_2_mean_mean', 'new_hist_category_3_mean_mean',
       'new_hist_purchase_date_diff', 'new_hist_purchase_date_average',
       'new_hist_purchase_date_uptonow'],
      dtype='object')

In [10]:
aggs = {}
for col in ['month','hour','weekofyear','dayofweek','year','subsector_id','merchant_id','merchant_category_id']:
    aggs[col] = ['nunique']

aggs['purchase_amount'] = ['sum','max','min','mean','var']
aggs['installments'] = ['sum','max','min','mean','var']
aggs['purchase_date'] = ['max','min']
aggs['month_lag'] = ['max','min','mean','var']
aggs['month_diff'] = ['mean']
aggs['authorized_flag'] = ['sum', 'mean']
aggs['weekend'] = ['sum', 'mean']
aggs['category_1'] = ['sum', 'mean']
aggs['card_id'] = ['size']

for col in ['category_2','category_3']:
    df_hist_trans[col+'_mean'] = df_hist_trans.groupby([col])['purchase_amount'].transform('mean')
    aggs[col+'_mean'] = ['mean']    

new_columns = get_new_columns('hist',aggs)
df_hist_trans_group = df_hist_trans.groupby('card_id').agg(aggs)
df_hist_trans_group.columns = new_columns
df_hist_trans_group.reset_index(drop=False,inplace=True)
df_hist_trans_group['hist_purchase_date_diff'] = (df_hist_trans_group['hist_purchase_date_max'] - df_hist_trans_group['hist_purchase_date_min']).dt.days
df_hist_trans_group['hist_purchase_date_average'] = df_hist_trans_group['hist_purchase_date_diff']/df_hist_trans_group['hist_card_id_size']
df_hist_trans_group['hist_purchase_date_uptonow'] = (datetime.datetime.today() - df_hist_trans_group['hist_purchase_date_max']).dt.days
df_train = df_train.merge(df_hist_trans_group,on='card_id',how='left')
df_test = df_test.merge(df_hist_trans_group,on='card_id',how='left')
del df_hist_trans_group;gc.collect()

35

In [11]:
del df_hist_trans;gc.collect()
#del df_new_merchant_trans;gc.collect()#清理内存-
df_train.head(5)

  first_active_month            ...             hist_purchase_date_uptonow
0            2017-06            ...                                    506
1            2017-01            ...                                    531
2            2016-08            ...                                    504
3            2017-09            ...                                    503
4            2017-11            ...                                    503

[5 rows x 80 columns]

In [12]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
df_merchants['avg_sales_lag3']=imp.fit(pd.DataFrame(df_merchants['avg_sales_lag3'].values.reshape(-1,1))).transform(pd.DataFrame(df_merchants['avg_sales_lag3'].values.reshape(-1,1)))
df_merchants['avg_sales_lag6']=imp.fit(pd.DataFrame(df_merchants['avg_sales_lag6'].values.reshape(-1,1))).transform(pd.DataFrame(df_merchants['avg_sales_lag6'].values.reshape(-1,1)))
df_merchants['avg_sales_lag12']=imp.fit(pd.DataFrame(df_merchants['avg_sales_lag12'].values.reshape(-1,1))).transform(pd.DataFrame(df_merchants['avg_sales_lag12'].values.reshape(-1,1)))
df_merchants['category_2']=imp.fit(pd.DataFrame(df_merchants['category_2'].values.reshape(-1,1))).transform(pd.DataFrame(df_merchants['category_2'].values.reshape(-1,1)))
df_merchants.head()

       merchant_id  merchant_group_id     ...      state_id  category_2
0  M_ID_838061e48c               8353     ...             9         1.0
1  M_ID_9339d880ad               3184     ...            16         1.0
2  M_ID_e726bbae1e                447     ...             5         5.0
3  M_ID_a70e9c5f81               5026     ...            -1         1.0
4  M_ID_64456c37ce               2228     ...            -1         1.0

[5 rows x 22 columns]

In [13]:
aggs={}
for col in ['avg_sales_lag3','avg_purchases_lag3','active_months_lag3','avg_sales_lag6','avg_purchases_lag6','active_months_lag6','avg_sales_lag12','avg_purchases_lag12','active_months_lag12','numerical_1','numerical_2']:
    aggs[col]= ['mean']
    
new_columns= get_new_columns('merchants',aggs)
df_merchants_group = df_merchants.groupby('merchant_category_id').agg(aggs)
df_merchants_group.columns = new_columns
df_merchants_group.reset_index(drop=False,inplace=True)
df_train=df_train.merge(df_merchants_group,on='merchant_category_id',how='left')
df_test=df_test.merge(df_merchants_group.reset_index(),on='merchant_category_id',how='left')
df_train.head()

  first_active_month            ...             merchants_numerical_2_mean
0            2017-06            ...                               0.026569
1            2017-01            ...                               0.028974
2            2016-08            ...                               0.030521
3            2017-09            ...                               0.006717
4            2017-11            ...                               0.006717

[5 rows x 91 columns]

In [14]:
df_merchants['max_merchant_category_id']=df_merchants['merchant_category_id']
#df_test['max_merchant_category_id']=df_test['merchant_category_id']

aggs={}
for col in ['avg_sales_lag3','avg_purchases_lag3','active_months_lag3','avg_sales_lag6','avg_purchases_lag6','active_months_lag6','avg_sales_lag12','avg_purchases_lag12','active_months_lag12','numerical_1','numerical_2']:
    aggs[col]= ['mean']
    
new_columns= get_new_columns('max_merchants',aggs)
df_merchants_group = df_merchants.groupby('max_merchant_category_id').agg(aggs)
df_merchants_group.columns = new_columns
df_merchants_group.reset_index(drop=False,inplace=True)
df_train=df_train.merge(df_merchants_group,on='max_merchant_category_id',how='left')
df_test=df_test.merge(df_merchants_group.reset_index(),on='max_merchant_category_id',how='left')
df_train.head()

  first_active_month              ...               max_merchants_numerical_2_mean
0            2017-06              ...                                     0.012986
1            2017-01              ...                                    -0.053194
2            2016-08              ...                                     0.067353
3            2017-09              ...                                     0.012986
4            2017-11              ...                                     0.012986

[5 rows x 102 columns]

In [15]:
df_train['outliers'] = 0
df_train.loc[df_train['target'] < -30, 'outliers'] = 1
df_train['outliers'].value_counts()

0    199710
1      2207
Name: outliers, dtype: int64

In [16]:
for df in [df_train,df_test]:
    df['first_active_month'] = pd.to_datetime(df['first_active_month'])
    df['dayofweek'] = df['first_active_month'].dt.dayofweek
    df['weekofyear'] = df['first_active_month'].dt.weekofyear
    df['month'] = df['first_active_month'].dt.month
    df['elapsed_time'] = (datetime.datetime.today() - df['first_active_month']).dt.days
    df['hist_first_buy'] = (df['hist_purchase_date_min'] - df['first_active_month']).dt.days
    df['new_hist_first_buy'] = (df['new_hist_purchase_date_min'] - df['first_active_month']).dt.days
    for f in ['hist_purchase_date_max','hist_purchase_date_min','new_hist_purchase_date_max',\
                     'new_hist_purchase_date_min']:
        df[f] = df[f].astype(np.int64) * 1e-9
    df['card_id_total'] = df['new_hist_card_id_size']+df['hist_card_id_size']
    df['purchase_amount_total'] = df['new_hist_purchase_amount_sum']+df['hist_purchase_amount_sum']

for f in ['feature_1','feature_2','feature_3']:
    order_label = df_train.groupby([f])['outliers'].mean()
    df_train[f] = df_train[f].map(order_label)
    df_test[f] = df_test[f].map(order_label)

In [17]:
df_train_columns = [c for c in df_train.columns if c not in ['card_id', 'first_active_month','target','outliers']]
target = df_train['target']
del df_train['target']

In [18]:
param = {'num_leaves': 31,
         'min_data_in_leaf': 27, 
         'objective':'regression',
         'max_depth': -1,
         'learning_rate': 0.015,
         "min_child_samples": 50,
         "boosting": "gbdt",
         "feature_fraction": 0.9,
         "bagging_freq": 1,
         "bagging_fraction": 0.9 ,
         "bagging_seed": 11,
         "metric": 'rmse',
         "lambda_l1": 0.1,
         "verbosity": -1,
         "nthread": 4,
         "random_state": 4590}
folds = StratifiedKFold(n_splits=5, shuffle=True, random_state=4590)
oof = np.zeros(len(df_train))
predictions = np.zeros(len(df_test))
feature_importance_df = pd.DataFrame()

for fold_, (trn_idx, val_idx) in enumerate(folds.split(df_train,df_train['outliers'].values)):
    print("fold {}".format(fold_))
    trn_data = lgb.Dataset(df_train.iloc[trn_idx][df_train_columns], label=target.iloc[trn_idx])#, categorical_feature=categorical_feats)
    val_data = lgb.Dataset(df_train.iloc[val_idx][df_train_columns], label=target.iloc[val_idx])#, categorical_feature=categorical_feats)

    num_round = 10000
    clf = lgb.train(param, trn_data, num_round, valid_sets = [trn_data, val_data], verbose_eval=200, early_stopping_rounds = 200)
    oof[val_idx] = clf.predict(df_train.iloc[val_idx][df_train_columns], num_iteration=clf.best_iteration)
    
    fold_importance_df = pd.DataFrame()
    fold_importance_df["Feature"] = df_train_columns
    fold_importance_df["importance"] = clf.feature_importance()
    fold_importance_df["fold"] = fold_ + 1
    feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
    
    predictions += clf.predict(df_test[df_train_columns], num_iteration=clf.best_iteration) / folds.n_splits

np.sqrt(mean_squared_error(oof, target))

fold 0
Training until validation scores don't improve for 200 rounds.
[200]	training's rmse: 3.53049	valid_1's rmse: 3.69205
[400]	training's rmse: 3.43644	valid_1's rmse: 3.67773
[600]	training's rmse: 3.37174	valid_1's rmse: 3.67413
[800]	training's rmse: 3.32032	valid_1's rmse: 3.6725
[1000]	training's rmse: 3.27357	valid_1's rmse: 3.67347
Early stopping, best iteration is:
[836]	training's rmse: 3.31119	valid_1's rmse: 3.67217
fold 1
Training until validation scores don't improve for 200 rounds.
[200]	training's rmse: 3.54547	valid_1's rmse: 3.65432
[400]	training's rmse: 3.45052	valid_1's rmse: 3.63618
[600]	training's rmse: 3.38689	valid_1's rmse: 3.63219
[800]	training's rmse: 3.3368	valid_1's rmse: 3.63133
[1000]	training's rmse: 3.28916	valid_1's rmse: 3.63075
[1200]	training's rmse: 3.24699	valid_1's rmse: 3.6302
[1400]	training's rmse: 3.20719	valid_1's rmse: 3.63002
[1600]	training's rmse: 3.16865	valid_1's rmse: 3.63009
Early stopping, best iteration is:
[1449]	training's rmse: 3.19651	valid_1's rmse: 3.6295
fold 2
Training until validation scores don't improve for 200 rounds.
[200]	training's rmse: 3.52988	valid_1's rmse: 3.68557
[400]	training's rmse: 3.43627	valid_1's rmse: 3.6731
[600]	training's rmse: 3.37144	valid_1's rmse: 3.67234
Early stopping, best iteration is:
[532]	training's rmse: 3.39273	valid_1's rmse: 3.67174
fold 3
Training until validation scores don't improve for 200 rounds.
[200]	training's rmse: 3.53409	valid_1's rmse: 3.67624
[400]	training's rmse: 3.44069	valid_1's rmse: 3.66094
[600]	training's rmse: 3.37544	valid_1's rmse: 3.65676
[800]	training's rmse: 3.32303	valid_1's rmse: 3.65612
Early stopping, best iteration is:
[753]	training's rmse: 3.3346	valid_1's rmse: 3.65596
fold 4
Training until validation scores don't improve for 200 rounds.
[200]	training's rmse: 3.53596	valid_1's rmse: 3.67014
[400]	training's rmse: 3.44018	valid_1's rmse: 3.65767
[600]	training's rmse: 3.37508	valid_1's rmse: 3.65514
[800]	training's rmse: 3.32182	valid_1's rmse: 3.65467
[1000]	training's rmse: 3.2741	valid_1's rmse: 3.65441
[1200]	training's rmse: 3.23233	valid_1's rmse: 3.65489
Early stopping, best iteration is:
[1040]	training's rmse: 3.26548	valid_1's rmse: 3.65407

3.6567212247367635

In [19]:
model_without_outliers = pd.DataFrame({"card_id":df_test["card_id"].values})
model_without_outliers["target"] = predictions

In [20]:
#del df_train['outliers']
#del df_train['target']
#target = df_train['outliers']

In [21]:
features = [c for c in df_train.columns if c not in ['card_id', 'first_active_month']]
categorical_feats = [c for c in features if 'feature_' in c]

In [22]:
param = {'num_leaves': 31,
         'min_data_in_leaf': 30, 
         'objective':'binary',
         'max_depth': 6,
         'learning_rate': 0.01,
         "boosting": "rf",
         "feature_fraction": 0.9,
         "bagging_freq": 1,
         "bagging_fraction": 0.9 ,
         "bagging_seed": 11,
         "metric": 'binary_logloss',
         "lambda_l1": 0.1,
         "verbosity": -1,
         "random_state": 2333}

In [23]:
from sklearn.model_selection import StratifiedKFold, KFold
from sklearn.metrics import mean_squared_error
from sklearn.metrics import log_loss
%%time
folds = KFold(n_splits=5, shuffle=True, random_state=15)
oof = np.zeros(len(df_train))
predictions = np.zeros(len(df_test))
feature_importance_df = pd.DataFrame()

start = time.time()


for fold_, (trn_idx, val_idx) in enumerate(folds.split(df_train.values, target.values)):
    print("fold n°{}".format(fold_))
    trn_data = lgb.Dataset(df_train.iloc[trn_idx][features], label=target.iloc[trn_idx], categorical_feature=categorical_feats)
    val_data = lgb.Dataset(df_train.iloc[val_idx][features], label=target.iloc[val_idx], categorical_feature=categorical_feats)

    num_round = 10000
    clf = lgb.train(param, trn_data, num_round, valid_sets = [trn_data, val_data], verbose_eval=100, early_stopping_rounds = 200)
    oof[val_idx] = clf.predict(df_train.iloc[val_idx][features], num_iteration=clf.best_iteration)
    
    fold_importance_df = pd.DataFrame()
    fold_importance_df["feature"] = features
    fold_importance_df["importance"] = clf.feature_importance()
    fold_importance_df["fold"] = fold_ + 1
    feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
    
    predictions += clf.predict(df_test[features], num_iteration=clf.best_iteration) / folds.n_splits

print("CV score: {:<8.5f}".format(log_loss(target, oof)))

UsageError: Line magic function `%%time` not found.

In [24]:
### 'target' is the probability of whether an observation is an outlier
df_outlier_prob = pd.DataFrame({"card_id":df_test["card_id"].values})
df_outlier_prob["target"] = predictions
df_outlier_prob.head()

           card_id    target
0  C_ID_0ab67a22ab -2.859362
1  C_ID_130fd0cbdd -0.300522
2  C_ID_b709037bc5 -0.941609
3  C_ID_d27d835a9f -0.169592
4  C_ID_2b5e3df5c2 -1.281567

In [25]:
outlier_id = pd.DataFrame(df_outlier_prob.sort_values(by='target',ascending = False).head(25000)['card_id'])

In [26]:
best_submission = pd.read_csv('../input/finaldata/submission_ashish.csv')
most_likely_liers = best_submission.merge(outlier_id,how='right')
most_likely_liers.head()

           card_id    target
0  C_ID_f7cada36d3  0.440054
1  C_ID_f72513589e  0.668335
2  C_ID_a7f2d6984e  0.332898
3  C_ID_83e740197f  1.166411
4  C_ID_5005a6ad0e  0.676176

In [27]:
%%time
for card_id in most_likely_liers['card_id']:
    model_without_outliers.loc[model_without_outliers['card_id']==card_id,'target']\
    = most_likely_liers.loc[most_likely_liers['card_id']==card_id,'target'].values

CPU times: user 6min 9s, sys: 236 ms, total: 6min 9s
Wall time: 6min 9s

In [28]:
model_without_outliers.to_csv("combining_submission.csv", index=False)

In [29]:
#sub_df = pd.DataFrame({"card_id":df_test["card_id"].values})
#sub_df["target"] = predictions
#sub_df.to_csv("submission.csv", index=False)

In [30]:
#cols = (feature_importance_df[["Feature", "importance"]]
        #.groupby("Feature")
        #.mean()
        #.sort_values(by="importance", ascending=False)[:1000].index)

#best_features = feature_importance_df.loc[feature_importance_df.Feature.isin(cols)]

#plt.figure(figsize=(14,25))
#sns.barplot(x="importance",
            #y="Feature",
            #data=best_features.sort_values(by="importance",
                                          # ascending=False))
#plt.title('LightGBM Features (avg over folds)')
#plt.tight_layout()
#plt.savefig('lgbm_importances.png')

**To be continued ...**