In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

# import numpy as np # linear algebra
# import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import numpy as np
import pandas as pd

In [3]:
train_data_df = pd.read_csv('../input/titanic/train.csv')
test_data_df = pd.read_csv('../input/titanic/test.csv')

In [4]:
print(train_data_df.shape)
print(test_data_df.shape)
print(train_data_df.columns)
print(train_data_df.isna().sum())
print(test_data_df.isna().sum())

(891, 12)
(418, 11)
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [5]:
feature_names = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']

train_features = train_data_df[feature_names]
test_features = test_data_df[feature_names]
train_features.head()
test_features.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [6]:
def fill_missing_data(df, category):
    df[category].fillna(df[category].dropna().median(), inplace=True)
    
fill_missing_data(train_features, 'Age')
fill_missing_data(test_features, 'Age')

train_features['Embarked'].fillna('S', inplace=True)
test_features['Embarked'].fillna('S', inplace=True)

fill_missing_data(train_features, 'Fare')
fill_missing_data(test_features, 'Fare')

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [7]:
def encode_sex(df):
    return pd.concat([df, pd.get_dummies(df["Sex"], prefix="Sex")], axis=1).drop(["Sex"], axis=1)
    
train_features = encode_sex(train_features)
test_features = encode_sex(test_features)
    
train_features.head()
test_features.head()

   Pclass   Age  SibSp  Parch     Fare Embarked  Sex_female  Sex_male
0       3  34.5      0      0   7.8292        Q           0         1
1       3  47.0      1      0   7.0000        S           1         0
2       2  62.0      0      0   9.6875        Q           0         1
3       3  27.0      0      0   8.6625        S           0         1
4       3  22.0      1      1  12.2875        S           1         0

In [8]:
def encode_embarked(df):
    return pd.concat([df, pd.get_dummies(df["Embarked"], prefix="Embarked")], axis=1).drop(["Embarked"], axis=1)
    
train_features = encode_embarked(train_features)
test_features = encode_embarked(test_features)
    
train_features.head()
test_features.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,34.5,0,0,7.8292,0,1,0,1,0
1,3,47.0,1,0,7.0000,1,0,0,0,1
2,2,62.0,0,0,9.6875,0,1,0,1,0
3,3,27.0,0,0,8.6625,0,1,0,0,1
4,3,22.0,1,1,12.2875,1,0,0,0,1

In [9]:
train_targets = train_data_df['Survived']
train_targets.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [10]:
# from sklearn.ensemble import RandomForestRegressor

In [11]:
# model = RandomForestRegressor(random_state=1)
# model.fit(train_features, train_target)

In [12]:
# test_predictions = model.predict(test_features)

In [13]:
# output = pd.DataFrame({'PassengerId': test_data_df['PassengerId'], 'Survived': test_predictions})
# output['Survived'].loc[output['Survived'] < 0.5] = 0
# output['Survived'].loc[output['Survived'] > 0.5] = 1
# output['Survived'] = output['Survived'].astype('int32')
# print(output)

In [14]:
# output.to_csv('submission.csv', index=False)

In [15]:
import tensorflow as tf
print(tf.__version__)

2.2.0

In [16]:
print(train_features.dtypes)
print(test_features.dtypes)

Pclass          int64
Age           float64
SibSp           int64
Parch           int64
Fare          float64
Sex_female      uint8
Sex_male        uint8
Embarked_C      uint8
Embarked_Q      uint8
Embarked_S      uint8
dtype: object
Pclass          int64
Age           float64
SibSp           int64
Parch           int64
Fare          float64
Sex_female      uint8
Sex_male        uint8
Embarked_C      uint8
Embarked_Q      uint8
Embarked_S      uint8
dtype: object

In [17]:
def get_model():
    model = tf.keras.Sequential()
    model.add(tf.keras.layers.Dense(512, activation='relu'))
    model.add(tf.keras.layers.Dense(256, activation='relu'))
    model.add(tf.keras.layers.Dense(128, activation='relu'))
    model.add(tf.keras.layers.Dense(1, activation='sigmoid'))
    model.compile(optimizer='adamax', loss=tf.keras.losses.BinaryCrossentropy(from_logits=True), metrics=['accuracy'])
    return model

model = get_model()
history = model.fit(train_features, train_targets, epochs=25, shuffle=True, validation_split=0.3)

Epoch 1/25
20/20 [==============================] - 0s 20ms/step - loss: 0.6946 - accuracy: 0.6581 - val_loss: 0.6782 - val_accuracy: 0.7015
Epoch 2/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6896 - accuracy: 0.6613 - val_loss: 0.6883 - val_accuracy: 0.7201
Epoch 3/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6913 - accuracy: 0.6790 - val_loss: 0.6819 - val_accuracy: 0.7164
Epoch 4/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6805 - accuracy: 0.6581 - val_loss: 0.6851 - val_accuracy: 0.7127
Epoch 5/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6898 - accuracy: 0.6758 - val_loss: 0.6873 - val_accuracy: 0.7239
Epoch 6/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6897 - accuracy: 0.6742 - val_loss: 0.6869 - val_accuracy: 0.7239
Epoch 7/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6891 - accuracy: 0.6581 - val_loss: 0.6641 - val_accuracy: 0.7201
Epoch 8/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6770 - accuracy: 0.6758 - val_loss: 0.6635 - val_accuracy: 0.7201
Epoch 9/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6775 - accuracy: 0.6629 - val_loss: 0.6704 - val_accuracy: 0.7500
Epoch 10/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6846 - accuracy: 0.6774 - val_loss: 0.6656 - val_accuracy: 0.7425
Epoch 11/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6774 - accuracy: 0.6629 - val_loss: 0.6654 - val_accuracy: 0.7500
Epoch 12/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6727 - accuracy: 0.6886 - val_loss: 0.6645 - val_accuracy: 0.7500
Epoch 13/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6732 - accuracy: 0.6950 - val_loss: 0.6615 - val_accuracy: 0.7463
Epoch 14/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6715 - accuracy: 0.6838 - val_loss: 0.6609 - val_accuracy: 0.7463
Epoch 15/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6717 - accuracy: 0.6918 - val_loss: 0.6592 - val_accuracy: 0.7500
Epoch 16/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6720 - accuracy: 0.6790 - val_loss: 0.6594 - val_accuracy: 0.7575
Epoch 17/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6699 - accuracy: 0.6950 - val_loss: 0.6595 - val_accuracy: 0.7575
Epoch 18/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6692 - accuracy: 0.6886 - val_loss: 0.6574 - val_accuracy: 0.7388
Epoch 19/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6691 - accuracy: 0.6950 - val_loss: 0.6578 - val_accuracy: 0.7649
Epoch 20/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6674 - accuracy: 0.6966 - val_loss: 0.6630 - val_accuracy: 0.7090
Epoch 21/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6737 - accuracy: 0.6790 - val_loss: 0.6565 - val_accuracy: 0.7537
Epoch 22/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6688 - accuracy: 0.6918 - val_loss: 0.6542 - val_accuracy: 0.7537
Epoch 23/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6663 - accuracy: 0.6966 - val_loss: 0.6526 - val_accuracy: 0.7575
Epoch 24/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6678 - accuracy: 0.7127 - val_loss: 0.6549 - val_accuracy: 0.7463
Epoch 25/25
20/20 [==============================] - 0s 4ms/step - loss: 0.6677 - accuracy: 0.6918 - val_loss: 0.6703 - val_accuracy: 0.7500

In [18]:
print('loss =', history.history['loss'][-1])
print('accuracy =', history.history['accuracy'][-1])

print('val_loss =', history.history['val_loss'][-1])
print('val_accuracy =', history.history['val_accuracy'][-1])

loss = 0.667713463306427
accuracy = 0.6918138265609741
val_loss = 0.6703164577484131
val_accuracy = 0.75

In [19]:
test_predictions = model.predict(test_features)

In [20]:
output = pd.DataFrame({'PassengerId': test_data_df['PassengerId'], 'Survived': [p[0] for p in test_predictions]})
output['Survived'].loc[output['Survived'] < 0.5] = 0
output['Survived'].loc[output['Survived'] > 0.5] = 1
output['Survived'] = output['Survived'].astype('int32')
print(output)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [21]:
output.to_csv('submission.csv', index=False)