# Importing the Libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
# Checking the version of TensorFlow
tf.__version__

'2.2.0'

# Loading the Dataset

In [3]:
train = pd.read_csv('/kaggle/input/fashionmnist/fashion-mnist_train.csv')
train.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Creating a list of variables
features = train.columns.tolist()
features.remove('label')

In [5]:
test = pd.read_csv('/kaggle/input/fashionmnist/fashion-mnist_test.csv')
test.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,9,8,...,103,87,56,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,14,53,99,...,0,0,0,0,63,53,31,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,137,126,140,0,133,224,222,56,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Data Preprocessing

## Converting the Dataframes into NumPy arrays

In [6]:
X_train = np.array(train[features])
y_train = np.array(train['label'])

In [7]:
X_test = np.array(test[features])
y_test = np.array(test['label'])

## Normalizing the images

We divide the value of each pixel in the training and test datasets by the maximum value of pixels (255).

In this way, each pixel will be in the range of 0 and 1, which allows the ANN to train faster.

In [8]:
X_train = X_train / 255.0
X_test = X_test / 255.0

# Building an Artificial Neural Network

## Defining the model

We define an object of the Sequential model.

In [9]:
model = tf.keras.models.Sequential()

## Adding a first Dense or Fully-connected hidden layer

Layer hyper-parameters:
* Number of neurons = 128
* Activation Function = ReLU
* Input Shape = (784,)

In [10]:
model.add(tf.keras.layers.Dense(units = 128,activation = 'relu',input_shape = (784,)))

## Adding a second layer with Dropout

Dropout is a Regularization technique where we randomly set neurons in a layer to zero which means that during training those neurons will not be updated. This reduces the chance for overfitting.

In [11]:
model.add(tf.keras.layers.Dropout(0.2))

## Adding the output layer

* Number of neurons = 10 (corresponding to the number of classes)
* Activation Function = Softmax

In [12]:
model.add(tf.keras.layers.Dense(units = 10,activation = 'softmax'))

## Compiling the model

* Optimizer = Adam
* Loss = Sparse Categorical Crossentropy

In [13]:
model.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['sparse_categorical_accuracy'])

In [14]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 128)               100480
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 10)                1290
=================================================================
Total params: 101,770
Trainable params: 101,770
Non-trainable params: 0
_________________________________________________________________

## Training the model

In [15]:
model.fit(X_train,y_train, epochs = 10)

Epoch 1/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.5325 - sparse_categorical_accuracy: 0.8114
Epoch 2/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.4027 - sparse_categorical_accuracy: 0.8548
Epoch 3/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3696 - sparse_categorical_accuracy: 0.8656
Epoch 4/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.3496 - sparse_categorical_accuracy: 0.8715
Epoch 5/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.3320 - sparse_categorical_accuracy: 0.8782
Epoch 6/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.3216 - sparse_categorical_accuracy: 0.8821
Epoch 7/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3122 - sparse_categorical_accuracy: 0.8848
Epoch 8/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3023 - sparse_categorical_accuracy: 0.8883
Epoch 9/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.2940 - sparse_categorical_accuracy: 0.8895
Epoch 10/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.2865 - sparse_categorical_accuracy: 0.8946

## Model evaluation and prediction

In [16]:
test_loss, test_acc = model.evaluate(X_test, y_test)

313/313 [==============================] - 1s 3ms/step - loss: 0.3074 - sparse_categorical_accuracy: 0.8874

In [17]:
print('Test Accuracy : {}%'.format(test_acc*100))

Test Accuracy : 88.7399971485138%