In [1]:
#Importing Dataset
import numpy as np
import pandas as pd 
import os
print(os.listdir("../input"))

['Student_Performance_Data.csv', 'Student_Counceling_Information.xlsx', 'Employee_Information.xlsx', 'Department_Information.xlsx', 'Employee_Information.txt', 'Student_Performance_Data_Wide_Version.xlsx', 'Student_Performance_Data.txt', 'Department_Information.txt', 'Student_Counceling_Information.txt', 'Student_Performance_Data.xlsx', 'student_counceling_information.sas7bdat', 'Department_Information.csv', 'Employee_Information.csv', 'department_information.sas7bdat', 'Student_Counceling_Information.csv', 'student_performance_data.sas7bdat', 'employee_information.sas7bdat']

**Importing dataset of different format**

In [2]:
#Setting input directory
os.chdir("../input")

#Importing from *.txt
Depart_Info = pd.read_csv("Department_Information.txt" , sep =  "|")
Depart_Info.head()

  Department_ID                 Department_Name                   DOE
0     IDEPT4670           Aerospace Engineering  1961-05-31T00:00:00Z
1     IDEPT5528  Biosciences and Bioengineering  1943-06-28T00:00:00Z
2     IDEPT3115            Chemical Engineering  1940-05-01T00:00:00Z
3     IDEPT5881                       Chemistry  2013-06-08T00:00:00Z
4     IDEPT4938               Civil Engineering  1941-10-27T00:00:00Z

In [3]:
Employee_Info= pd.read_csv("Employee_Information.txt" , sep =  "|")
Employee_Info.head()
Employee_Info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
Employee ID      1000 non-null object
DOB              1000 non-null object
DOJ              1000 non-null object
Department_ID    1000 non-null object
dtypes: object(4)
memory usage: 31.3+ KB

In [4]:
Student_cons_info= pd.read_csv("Student_Counceling_Information.txt" , sep =  "|")

#reteriving observations of top five rows
Student_cons_info.head()

,Student_ID,DOA,DOB,Department_Choices,Department_Admission
0,SID20131143,2013-07-01T00:00:00Z,1996-02-05T00:00:00Z,IDEPT7783,IDEPT7783
1,SID20131151,2013-07-01T00:00:00Z,1995-07-31T00:00:00Z,IDEPT6347,IDEPT6347
2,SID20131171,2013-07-01T00:00:00Z,1995-09-05T00:00:00Z,IDEPT1836,IDEPT1836
3,SID20131176,2013-07-01T00:00:00Z,1996-01-12T00:00:00Z,IDEPT8473,IDEPT8473
4,SID20131177,2013-07-01T00:00:00Z,1995-07-30T00:00:00Z,IDEPT5528,IDEPT5528

In [5]:
#Importing data from *.csv
Depart_inf = pd.read_csv("Department_Information.csv")
Depart_inf.head()

  Department_ID                 Department_Name                   DOE
0     IDEPT4670           Aerospace Engineering  1961-05-31T00:00:00Z
1     IDEPT5528  Biosciences and Bioengineering  1943-06-28T00:00:00Z
2     IDEPT3115            Chemical Engineering  1940-05-01T00:00:00Z
3     IDEPT5881                       Chemistry  2013-06-08T00:00:00Z
4     IDEPT4938               Civil Engineering  1941-10-27T00:00:00Z

In [6]:
#Importing data *.xlsx
Employ_Info = pd.read_excel("Employee_Information.xlsx")
Employ_Info.head()

  Employee ID        DOB        DOJ Department_ID
0    IU196557 1983-02-23 2009-10-31     IDEPT4938
1    IU449901 1985-09-02 2009-06-07     IDEPT2357
2    IU206427 1971-07-30 2008-05-09     IDEPT4670
3    IU688905 1973-07-20 2002-01-17     IDEPT2601
4    IU634582 1991-11-16 2000-02-13     IDEPT7626

In [7]:
#Importing from *.sas7bdat
department_info= pd.read_sas('department_information.sas7bdat')
department_info.head()

  Department_ID                    Department_Name        DOE
0  b'IDEPT4670'           b'Aerospace Engineering' 1961-05-31
1  b'IDEPT5528'  b'Biosciences and Bioengineering' 1943-06-28
2  b'IDEPT3115'            b'Chemical Engineering' 1940-05-01
3  b'IDEPT5881'                       b'Chemistry' 2013-06-08
4  b'IDEPT4938'               b'Civil Engineering' 1941-10-27

**Exporting dataset **

In [8]:
#Export to  *.txt
Student_cons_info.to_csv("../Student_Counceling_Information.txt")

In [9]:
#Export to *.csv 
Depart_inf.to_csv("../Department_Information.csv")

In [10]:
#Export to *.xlsx
Employ_Info.to_excel("../Employee_Information.xlsx")

In [11]:
#Export to *.sas7bdat 
department_info.to_sas("../department_information.sas7bdat")

AttributeError: 'DataFrame' object has no attribute 'to_sas'