In [1]:
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC

In [2]:
gender_submission = pd.read_csv("../input/titanic/gender_submission.csv")
test = pd.read_csv("../input/titanic/test.csv")
train = pd.read_csv("../input/titanic/train.csv")

In [3]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
train['FamilySize'] = train['SibSp'] + train['Parch']
test['FamilySize'] = test['SibSp'] + train['Parch']

In [5]:
f_file=test['PassengerId']
train=train.drop(['Cabin','PassengerId','Name', 'Ticket', 'SibSp', 'Parch'],axis=1)
test=test.drop(['Cabin','PassengerId','Name', 'Ticket', 'SibSp', 'Parch'],axis=1)
# train.dropna(inplace=True)

In [6]:
train['Age'].fillna(train['Age'].mean(), inplace=True)
train.dropna(inplace=True)
test['Age'].fillna(test['Age'].mean(), inplace=True)
# test.dropna(inplace=True)

In [7]:
my_label = LabelEncoder()
train['Sex'] = my_label.fit_transform(train['Sex'])
train['Embarked'] = my_label.fit_transform(train['Embarked'])
test['Sex'] = my_label.fit_transform(test['Sex'])
test['Embarked'] = my_label.fit_transform(test['Embarked'])
train.head()

   Survived  Pclass  Sex   Age     Fare  Embarked  FamilySize
0         0       3    1  22.0   7.2500         2           1
1         1       1    0  38.0  71.2833         0           1
2         1       3    0  26.0   7.9250         2           0
3         1       1    0  35.0  53.1000         2           1
4         0       3    1  35.0   8.0500         2           0

In [8]:
train.head()

   Survived  Pclass  Sex   Age     Fare  Embarked  FamilySize
0         0       3    1  22.0   7.2500         2           1
1         1       1    0  38.0  71.2833         0           1
2         1       3    0  26.0   7.9250         2           0
3         1       1    0  35.0  53.1000         2           1
4         0       3    1  35.0   8.0500         2           0

In [9]:
test.head()

   Pclass  Sex   Age     Fare  Embarked  FamilySize
0       3    1  34.5   7.8292         1         0.0
1       3    0  47.0   7.0000         2         1.0
2       2    1  62.0   9.6875         1         0.0
3       3    1  27.0   8.6625         2         0.0
4       3    0  22.0  12.2875         2         1.0

In [10]:
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(train.drop(['Survived'], axis=1), train['Survived'])

In [11]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error, accuracy_score

rf = RandomForestClassifier(random_state=1)
rf.fit(train_X, train_y)
prediction = rf.predict(val_X)
print(mean_absolute_error(val_y, prediction), accuracy_score(val_y, prediction))

0.17488789237668162 0.8251121076233184

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [12]:
from xgboost import XGBClassifier

XGB = XGBClassifier()
XGB.fit(train_X, train_y)
prediction = XGB.predict(val_X)
print(mean_absolute_error(val_y, prediction), accuracy_score(val_y, prediction))

0.19730941704035873 0.8026905829596412

In [13]:
test['Fare'].fillna(test['Fare'].mean(), inplace=True)

In [14]:
vals = rf.predict(test)
file = pd.DataFrame({'PassengerId':f_file, 'Survived':vals})
file.to_csv('submission_rf.csv', index = False)
file.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [15]:
vals = XGB.predict(test)
file = pd.DataFrame({'PassengerId':f_file, 'Survived':vals})
file.to_csv('submission_xgb.csv', index = False)
file.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0