In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/rs6-attrition-predict/train.csv
/kaggle/input/rs6-attrition-predict/test.csv

## Load data

In [2]:
DATA_PATH = '/kaggle/input/rs6-attrition-predict/'
train = pd.read_csv(f'{DATA_PATH}/train.csv')
test = pd.read_csv(f'{DATA_PATH}/test.csv')

## Simple data eda

In [3]:
len(train), len(test)

(1176, 294)

In [4]:
train.head()

,user_id,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1374,58,No,Travel_Rarely,605,Sales,21,3,Life Sciences,1,...,3,80,1,29,2,2,1,0,0,0
1,1092,45,No,Travel_Rarely,950,Research & Development,28,3,Technical Degree,1,...,4,80,1,8,3,3,5,4,0,3
2,768,40,No,Travel_Rarely,300,Sales,26,3,Marketing,1,...,2,80,1,8,3,2,7,7,7,5
3,569,36,No,Non-Travel,1434,Sales,8,4,Life Sciences,1,...,2,80,0,10,1,3,10,7,0,9
4,911,25,Yes,Travel_Frequently,599,Sales,24,1,Life Sciences,1,...,4,80,0,1,4,3,1,0,1,0

In [5]:
test.head()

,user_id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,442,36,Non-Travel,635,Sales,10,4,Medical,1,592,...,4,80,0,10,3,2,10,3,9,7
1,1091,33,Travel_Rarely,575,Research & Development,25,3,Life Sciences,1,1545,...,4,80,0,5,2,3,5,3,0,2
2,981,35,Travel_Frequently,662,Sales,18,4,Marketing,1,1380,...,3,80,1,5,0,2,4,2,3,2
3,785,40,Travel_Rarely,1492,Research & Development,20,4,Technical Degree,1,1092,...,4,80,1,14,6,3,11,10,11,1
4,1332,29,Travel_Frequently,459,Research & Development,24,2,Life Sciences,1,1868,...,2,80,0,1,3,2,1,0,1,0

In [6]:
train.columns

Index(['user_id', 'Age', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [7]:
train.YearsAtCompany.unique()

array([ 1,  5,  7, 10,  2,  3,  9, 22,  0, 11,  6, 18,  4, 20,  8, 13, 16,
       29, 12, 25, 14, 19, 15, 23, 26, 17, 32, 21, 24, 33, 27, 36, 34, 40,
       31, 30, 37])

In [8]:
id_col = 'user_id'
target_col = 'Attrition'

digital_cols = ['Age', 'DailyRate', 'MonthlyIncome', 'NumCompaniesWorked', 'PercentSalaryHike',
                'TotalWorkingYears', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']
category_cols = ['BusinessTravel', 'Department', 'DistanceFromHome', 'Education', 'EducationField',
                'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel',
                'JobRole', 'JobSatisfaction', 'MaritalStatus', 'Over18', 'OverTime',
                'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TrainingTimesLastYear',
                'WorkLifeBalance']

In [9]:
for col in category_cols:
    nunique_tr = train[col].nunique()
    nunique_te = test[col].nunique()
    na_tr = len(train.loc[train[col].isna()]) / len(train)
    na_te = len(test.loc[test[col].isna()]) / len(test)
    print(f'Col name:{col:30}\tunique cate num in train:{nunique_tr:5}\tunique cate num in train:{nunique_te:5}\tnull sample in train:{na_tr:.2f}\tnull sample in test:{na_te:.2f}')

Col name:BusinessTravel                	unique cate num in train:    3	unique cate num in train:    3	null sample in train:0.00	null sample in test:0.00
Col name:Department                    	unique cate num in train:    3	unique cate num in train:    3	null sample in train:0.00	null sample in test:0.00
Col name:DistanceFromHome              	unique cate num in train:   29	unique cate num in train:   29	null sample in train:0.00	null sample in test:0.00
Col name:Education                     	unique cate num in train:    5	unique cate num in train:    5	null sample in train:0.00	null sample in test:0.00
Col name:EducationField                	unique cate num in train:    6	unique cate num in train:    6	null sample in train:0.00	null sample in test:0.00
Col name:EmployeeNumber                	unique cate num in train: 1176	unique cate num in train:  294	null sample in train:0.00	null sample in test:0.00
Col name:EnvironmentSatisfaction       	unique cate num in train:    4	unique cate num in train:    4	null sample in train:0.00	null sample in test:0.00
Col name:Gender                        	unique cate num in train:    2	unique cate num in train:    2	null sample in train:0.00	null sample in test:0.00
Col name:JobInvolvement                	unique cate num in train:    4	unique cate num in train:    4	null sample in train:0.00	null sample in test:0.00
Col name:JobLevel                      	unique cate num in train:    5	unique cate num in train:    5	null sample in train:0.00	null sample in test:0.00
Col name:JobRole                       	unique cate num in train:    9	unique cate num in train:    9	null sample in train:0.00	null sample in test:0.00
Col name:JobSatisfaction               	unique cate num in train:    4	unique cate num in train:    4	null sample in train:0.00	null sample in test:0.00
Col name:MaritalStatus                 	unique cate num in train:    3	unique cate num in train:    3	null sample in train:0.00	null sample in test:0.00
Col name:Over18                        	unique cate num in train:    1	unique cate num in train:    1	null sample in train:0.00	null sample in test:0.00
Col name:OverTime                      	unique cate num in train:    2	unique cate num in train:    2	null sample in train:0.00	null sample in test:0.00
Col name:PerformanceRating             	unique cate num in train:    2	unique cate num in train:    2	null sample in train:0.00	null sample in test:0.00
Col name:RelationshipSatisfaction      	unique cate num in train:    4	unique cate num in train:    4	null sample in train:0.00	null sample in test:0.00
Col name:StandardHours                 	unique cate num in train:    1	unique cate num in train:    1	null sample in train:0.00	null sample in test:0.00
Col name:StockOptionLevel              	unique cate num in train:    4	unique cate num in train:    4	null sample in train:0.00	null sample in test:0.00
Col name:TrainingTimesLastYear         	unique cate num in train:    7	unique cate num in train:    7	null sample in train:0.00	null sample in test:0.00
Col name:WorkLifeBalance               	unique cate num in train:    4	unique cate num in train:    4	null sample in train:0.00	null sample in test:0.00

In [10]:
for col in digital_cols:
    min_tr = train[col].min()
    max_tr = train[col].max()
    mean_tr = train[col].mean()
    median_tr = train[col].median()
    std_tr = train[col].std()
    
    min_te = test[col].min()
    max_te = test[col].max()
    mean_te = test[col].mean()
    median_te = test[col].median()
    std_te = test[col].std()
    
    na_tr = len(train.loc[train[col].isna()]) / len(train)
    na_te = len(test.loc[test[col].isna()]) / len(test)
    print(f'Col name:{col:30}')
    print(f'\tIn train data: min value:{min_tr:.2f}\tmax value:{max_tr:.2f}\tmean value:{mean_tr:.2f}\tmedian value:{median_tr:.2f}\tstd value:{std_tr:.2f}\tnan sample rate:{na_tr:.2f}\t')
    print(f'\tIn  test data: min value:{min_te:.2f}\tmax value:{max_te:.2f}\tmean value:{mean_te:.2f}\tmedian value:{median_te:.2f}\tstd value:{std_te:.2f}\tnan sample rate:{na_te:.2f}\t')

Col name:Age
	In train data: min value:18.00	max value:60.00	mean value:36.81	median value:36.00	std value:9.07	nan sample rate:0.00
	In  test data: min value:18.00	max value:60.00	mean value:37.40	median value:36.00	std value:9.41	nan sample rate:0.00
Col name:DailyRate
	In train data: min value:104.00	max value:1499.00	mean value:802.03	median value:805.50	std value:405.95	nan sample rate:0.00
	In  test data: min value:102.00	max value:1496.00	mean value:804.30	median value:773.50	std value:394.28	nan sample rate:0.00
Col name:MonthlyIncome
	In train data: min value:1009.00	max value:19999.00	mean value:6458.69	median value:4850.50	std value:4724.85	nan sample rate:0.00
	In  test data: min value:1514.00	max value:19740.00	mean value:6679.89	median value:5183.00	std value:4643.53	nan sample rate:0.00
Col name:NumCompaniesWorked
	In train data: min value:0.00	max value:9.00	mean value:2.70	median value:2.00	std value:2.52	nan sample rate:0.00
	In  test data: min value:0.00	max value:9.00	mean value:2.65	median value:2.00	std value:2.41	nan sample rate:0.00
Col name:PercentSalaryHike
	In train data: min value:11.00	max value:25.00	mean value:15.15	median value:14.00	std value:3.65	nan sample rate:0.00
	In  test data: min value:11.00	max value:25.00	mean value:15.44	median value:14.00	std value:3.69	nan sample rate:0.00
Col name:TotalWorkingYears
	In train data: min value:0.00	max value:40.00	mean value:11.16	median value:10.00	std value:7.75	nan sample rate:0.00
	In  test data: min value:0.00	max value:37.00	mean value:11.75	median value:10.00	std value:7.91	nan sample rate:0.00
Col name:YearsAtCompany
	In train data: min value:0.00	max value:40.00	mean value:6.98	median value:5.00	std value:6.09	nan sample rate:0.00
	In  test data: min value:0.00	max value:36.00	mean value:7.11	median value:5.00	std value:6.26	nan sample rate:0.00
Col name:YearsInCurrentRole
	In train data: min value:0.00	max value:18.00	mean value:4.20	median value:3.00	std value:3.63	nan sample rate:0.00
	In  test data: min value:0.00	max value:17.00	mean value:4.35	median value:3.00	std value:3.59	nan sample rate:0.00
Col name:YearsSinceLastPromotion
	In train data: min value:0.00	max value:15.00	mean value:2.16	median value:1.00	std value:3.21	nan sample rate:0.00
	In  test data: min value:0.00	max value:15.00	mean value:2.30	median value:1.00	std value:3.28	nan sample rate:0.00
Col name:YearsWithCurrManager
	In train data: min value:0.00	max value:17.00	mean value:4.10	median value:3.00	std value:3.56	nan sample rate:0.00
	In  test data: min value:0.00	max value:17.00	mean value:4.22	median value:3.00	std value:3.59	nan sample rate:0.00

In [11]:
train[target_col].unique()

array(['No', 'Yes'], dtype=object)

## Data process

1. for digital cols

In [12]:
from sklearn.preprocessing import MinMaxScaler

sacalar = MinMaxScaler()
train_digital = sacalar.fit_transform(train[digital_cols])
test_digital = sacalar.transform(test[digital_cols])

2. for category cols

In [13]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

train_category, test_category = None, None
drop_cols = ['EmployeeNumber', 'Over18', 'StandardHours']
for col in [var for var in category_cols if var not in drop_cols]:
    lbe, ohe = LabelEncoder(), OneHotEncoder()
    
    lbe.fit(pd.concat([train[col], test[col]]).values.reshape(-1, 1))
    train[col] = lbe.transform(train[col])
    test[col] = lbe.transform(test[col])
    
    ohe.fit(pd.concat([train[col], test[col]]).values.reshape(-1, 1))
    oht_train = ohe.transform(train[col].values.reshape(-1, 1)).todense()
    oht_test = ohe.transform(test[col].values.reshape(-1, 1)).todense()
    
    if train_category is None:
        train_category = oht_train
        test_category = oht_test
    else:
        train_category = np.hstack((train_category, oht_train))
        test_category = np.hstack((test_category, oht_test))

/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [14]:
train_digital.shape, test_digital.shape, train_category.shape, test_category.shape

((1176, 10), (294, 10), (1176, 100), (294, 100))

In [15]:
train_features = np.hstack((train_digital, train_category))
test_features = np.hstack((test_digital, test_category))
train_features.shape, test_features.shape

((1176, 110), (294, 110))

3. for labels

In [16]:
target_col_dict = {'Yes': 1, 'No': 0}
train_labels = train[target_col].map(target_col_dict).values
train_labels.shape

(1176,)

## Train LR model

In [17]:
from sklearn.linear_model import LinearRegression

clf = LinearRegression()
clf.fit(train_features, train_labels)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Predicting

In [18]:
predictions = clf.predict(test_features)
predictions.shape

(294,)

In [19]:
predictions.mean()

0.15618024553571427

## Submit

In [20]:
sub = test[['user_id']].copy()
sub['Attrition'] = predictions
sub['Attrition'] = sub['Attrition'].apply(lambda x: x if x >=0 else 0.0005)
sub.to_csv('submission.csv', index=False)