In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['gender_submission.csv', 'test.csv', 'train.csv']

In [2]:
def preprocess(data):
    data['Gender']=data['Sex'].apply(lambda a: 1 if a=='male' else 0)
    data=data.drop(['PassengerId','Name','Cabin','Embarked','Ticket','Sex'],axis=1)
    data=data.dropna()
    return data

datafile = '../input/train.csv'
data = pd.read_csv(datafile)
train=preprocess(data)

test = pd.read_csv('../input/test.csv')
passengerID=test['PassengerId']
test['Gender']=test['Sex'].apply(lambda a: 1 if a=='male' else 0)
test=test.drop(['PassengerId','Name','Cabin','Embarked','Ticket','Sex'],axis=1)

In [3]:
test.isnull().sum()

Pclass     0
Age       86
SibSp      0
Parch      0
Fare       1
Gender     0
dtype: int64

In [4]:
test['Age']=test['Age'].fillna(test['Age'].mean())
test['Fare']=test['Fare'].fillna(test['Fare'].mean())

In [5]:
train.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  Gender
0         0       3  22.0      1      0   7.2500       1
1         1       1  38.0      1      0  71.2833       0
2         1       3  26.0      0      0   7.9250       0
3         1       1  35.0      1      0  53.1000       0
4         0       3  35.0      0      0   8.0500       1

In [6]:
test.head()

   Pclass   Age  SibSp  Parch     Fare  Gender
0       3  34.5      0      0   7.8292       1
1       3  47.0      1      0   7.0000       0
2       2  62.0      0      0   9.6875       1
3       3  27.0      0      0   8.6625       1
4       3  22.0      1      1  12.2875       0

In [7]:
from sklearn.ensemble import RandomForestClassifier

X_train=train.drop(['Survived'],axis=1).values
y_train=train["Survived"].values
X_test=test.values


clf = RandomForestClassifier(n_estimators=1000,max_leaf_nodes=15)
clf=clf.fit(X_train,y_train)
predictions = clf.predict(X_test)
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0])

In [8]:
len(predictions)

418

In [9]:
len(passengerID)

418

In [10]:
result=pd.DataFrame({'PassengerID':passengerID,'Survived':predictions})
result.head()

   PassengerID  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [11]:
result.to_csv('submission.csv',index=False)

In [12]:
print(os.listdir("../working"))

['__notebook__.ipynb', '__output__.json', 'submission.csv']