In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn import tree, metrics, model_selection, preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/heart.csv

In [2]:
heartData = pd.read_csv("/kaggle/input/"+filename)
heartData.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [3]:
#heartData['target'].isnull().sum()
X_train, X_test, y_train, y_test = model_selection.train_test_split(heartData.drop('target', 1), heartData['target'], test_size = .3, random_state=10)
# Decision Tree Classifier
decisionTreeClassifier = DecisionTreeClassifier()
decisionTreeClassifier.fit(X_train,y_train)
predict_heart_data = decisionTreeClassifier.predict(X_test)

# How did our model perform?
count_misclassified = (y_test != predict_heart_data).sum()
print('Decision Tree Classifier Misclassified samples: {}'.format(count_misclassified))
accuracy = metrics.accuracy_score(y_test, predict_heart_data)
print('Decision Tree Classifier Accuracy: {:.2f}'.format(accuracy))

# Random Forest Classifier
randomForestClassifier = RandomForestClassifier(max_depth=5)
randomForestClassifier.fit(X_train, y_train)
predict_heart_data = randomForestClassifier.predict(X_test)

# How did our model perform?
count_misclassified = (y_test != predict_heart_data).sum()
print('Random Forest Classifier Misclassified samples: {}'.format(count_misclassified))
accuracy = metrics.accuracy_score(y_test, predict_heart_data)
print('Random Forest Classifier Accuracy: {:.2f}'.format(accuracy))

Decision Tree Classifier Misclassified samples: 22
Decision Tree Classifier Accuracy: 0.76
Random Forest Classifier Misclassified samples: 19
Random Forest Classifier Accuracy: 0.79

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)