V2 - Added K-Neighbors Classifier

V1 - Using Random Forest and MLP Classifier

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/titanic/gender_submission.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/train.csv

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC

In [3]:
df = pd.read_csv('/kaggle/input/titanic/train.csv')
t_df = pd.read_csv('/kaggle/input/titanic/test.csv')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
# df['Age'] = df['Age'].apply(lambda x: x//10)
df = df.drop(columns=['PassengerId', 'Name', 'SibSp', 'Parch','Ticket', 'Fare', 'Cabin', 'Age'])
df.replace('male', 0, inplace=True)
df.replace('female', 1, inplace=True)
df.replace('C', 0, inplace=True)
df.replace('S', 1, inplace=True)
df.replace('Q', 2, inplace=True)
df.dropna(inplace=True)
df.head()

   Survived  Pclass  Sex  Embarked
0         0       3    0       1.0
1         1       1    1       0.0
2         1       3    1       1.0
3         1       1    1       1.0
4         0       3    0       1.0

In [6]:
# my_imputer = SimpleImputer()
# t_df['Age'] = my_imputer.fit_transform(np.array(t_df['Age']).reshape(-1,1))
# t_df['Age'] = t_df['Age'].apply(lambda x: x//10)
ffile = t_df['PassengerId']
t_df = t_df.drop(columns=['PassengerId', 'Name', 'SibSp', 'Parch','Ticket', 'Fare', 'Cabin', 'Age'])
t_df.replace('male', 0, inplace=True)
t_df.replace('female', 1, inplace=True)
t_df.replace('C', 0, inplace=True)
t_df.replace('S', 1, inplace=True)
t_df.replace('Q', 2, inplace=True)
t_df.head()

   Pclass  Sex  Embarked
0       3    0         2
1       3    1         1
2       2    0         2
3       3    0         1
4       3    1         1

In [7]:
X = df.drop(columns='Survived')
y = df['Survived']
test_X = t_df
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.25, random_state=1)

In [8]:
rf = RandomForestClassifier(random_state=0, n_estimators=1)
rf.fit(X_train, y_train.ravel())
pred = rf.predict(X_test)
accuracy_score(pred, y_test)

0.8385650224215246

In [9]:
knn = KNeighborsClassifier()
knn.fit(X_train, y_train.ravel())
pred = knn.predict(X_test)
accuracy_score(pred, y_test)

0.8116591928251121

In [10]:
mlp = MLPClassifier(random_state=0)
mlp.fit(X_train, y_train.ravel())
pred = mlp.predict(X_test)
accuracy_score(pred, y_test)

/opt/conda/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

0.8340807174887892

In [11]:
rf.fit(X,np.array(y).ravel())
vals = rf.predict(test_X)
file = pd.DataFrame({'PassengerId':ffile, 'Survived':vals})
file.to_csv('submission_rf.csv', index = False)
file.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         1
3          895         0
4          896         0

In [12]:
mlp.fit(X,np.array(y).ravel())
vals_m = mlp.predict(test_X)
file = pd.DataFrame({'PassengerId':ffile, 'Survived':vals_m})
file.to_csv('submission_mlp.csv', index = False)
file.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [13]:
knn.fit(X,np.array(y).ravel())
vals_k = knn.predict(test_X)
file = pd.DataFrame({'PassengerId':ffile, 'Survived':vals_k})
file.to_csv('submission_knn.csv', index = False)
file.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0