In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Rechnen mit Python

* Grundrechenarten: +. -, *, /
* Hoch: ** 
* Modulo: %

In [2]:
2 * ( 2 + 4) ** 2

72

In [3]:
10 % 3

1

# Variablen

In [4]:
x = 2 * 5 + 9
print(x)

19

In [5]:
x = 2 * x + 10
x

48

In [6]:
x

48

In [7]:
x = 2 * x+10

In [8]:
x

106

In [9]:
x = 2

In [10]:
x = 2
y = 3
print(z)
z  = x + y + z
print(z)

NameError: name 'z' is not defined

# Datentypen

* Ganzzahlen: int (Integer)
* Kommazahlen: float (Floating Point Number)
* Text: string
* Wahrheitswert, Boolescher Wert: bool

* Datentype anzeigen: type

* Datentype umwandeln: int(), float()

In [11]:
type(z)

NameError: name 'z' is not defined

In [12]:
type(4)

int

In [13]:
type(5.5)

float

In [14]:
f = 2 / 3
type(f)

float

In [15]:
type("Das ist ein String")

str

In [16]:
s = "Das ist ein String"
type(s)

str

In [17]:
s = "15"

In [18]:
int(s) + 2

17

In [19]:
w = False

# Funktionen

def funktionsname(parameter1, parameter2)

* Parameter
* Optionale Parameter mit Default Wert
* Rüchgabe des Ergebnis: return

In [20]:
print(f)

0.6666666666666666

In [21]:
f = 3.542
round(f)

4

In [22]:
f

3.542

In [23]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [24]:
round(3.5423)

4

In [25]:
def verdoppeln(zahl):
    return zahl * 2

In [26]:
y = verdoppeln(2)

In [27]:
print(y)

4

In [28]:
def vervielfachen(zahl, vielfach = 2):
    return zahl * vielfach

In [29]:
vervielfachen(2, 3)

6

# Kommentare

* #
* """ """

In [30]:
# Das ist ein Kommentar
x = 1

In [31]:
def vervielfachen(zahl, vielfach = 2):
    """
    Funktion zum vervielfachen
    2. Parameter ist optional. Ansonst ist es verdoppeln
    
    zahl: Zu vervielfachende Zahl
    vielfach: Der Multiplikator
    """
    return zahl * vielfach

In [32]:
help(vervielfachen)

Help on function vervielfachen in module __main__:

vervielfachen(zahl, vielfach=2)
    Funktion zum vervielfachen
    2. Parameter ist optional. Ansonst ist es verdoppeln

    zahl: Zu vervielfachende Zahl
    vielfach: Der Multiplikator

In [33]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Boolesche Werte

In [34]:
w = True
f = False

In [35]:
f

False

In [36]:
w and f

False

In [37]:
f and f

False

In [38]:
w or f

True

In [39]:
(w and f) or w

True

In [40]:
not w

False

In [41]:
not f

True

In [42]:
(not w or f)

False

In [43]:
type(w)

bool

In [44]:
type(f)

bool

# Vergleich

* >, <, >=,<=, ==, !=

In [45]:
2 == 2

True

In [46]:
2 == 2.2

False

In [47]:
2 < 2.2

True

In [48]:
2 <= 2

True

In [49]:
2 != 3

True

In [50]:
2 != 2

False

In [51]:
(2 != 2) and (3 < 2)

False

# Verzweigung
* if
* elif
* else

In [52]:
i = 1
j = 2

In [53]:
if i == j:
    print("i ist gleich j")

In [54]:
if i < j:
    print("i ist kleiner als j")
else:
    print("i ist nicht kleiner als j")

i ist kleiner als j

In [55]:
i = 4
j = 3
if i < j:
    print("i ist kleiner als j")
elif i == j:
    print("i ist gleich j")
else:
    print("i ist größer als j")

i ist größer als j

# Listen

Array

In [56]:
umsatz_0 = 100
umsatz_1 = 110
umsatz_3 = 90

In [57]:
summe = umsatz_0 + umsatz_1 + umsatz_3

In [58]:
summe

300

In [59]:
umsaetze = [100, 110, 90, 200, 1000]

In [60]:
umsaetze

[100, 110, 90, 200, 1000]

In [61]:
type(umsaetze)

list

In [62]:
umsaetze[4]

1000

In [63]:
umsaetze[-1]

1000

In [64]:
len(umsaetze)

5

In [65]:
umsaetze[4]

1000

In [66]:
umsaetze[len(umsaetze) - 1]

1000

# Schleifen

* for Schleife

In [67]:
for umsatz in umsaetze:
    print(umsatz)

100
110
90
200
1000

# Customer Lifetime Value

* NPV Net Present Value
* Barwert

$clv = \sum_{t=1}^n U_t/(1 + r)^t $ 

$sum = \sum_{t=1}^n U_t $

In [68]:
def gesamtumsatz(umsaetze):
    summe = 0
    for umsatz in umsaetze:
        summe = summe + umsatz
    return summe

umsaetze = [100, 110, 90, 200, 1000]
gesamtumsatz(umsaetze)

1500

$clv = \sum_{t=1}^n U_t/(1 + r)^t $

In [69]:
def clv(umsaetze, zinssatz):
    """Berechnung des Customer Lifetime Value durch
    den Barwert der zukünftigen Umsätze     """
    summe = 0
    t = 1
    for umsatz in umsaetze:
        summe = summe + umsatz / (1 + zinssatz) ** t
        t = t + 1
    return summe
umsaetze = [100, 110, 90, 200, 1000]
clv(umsaetze, 0.1)

1006.9605280314928

In [70]:
def clv(umsaetze, zinssatz):
    """
    Berechnung des Customer Lifetime Value durch
    den Barwert der zukünftigen Umsätze 
    NPV
    """
    summe = 0
    t = 1
    for umsatz in umsaetze:
        summe = summe + umsatz / (1 + zinssatz) ** t
        t = t + 1
    return summe

umsaetze = [100, 110, 90, 200, 1000]
zins = 0.1
clv(umsaetze, zins)

1006.9605280314928

In [71]:
umsaetze = [100, 110, 90, 200, 1000]
zinssatz = 0.1
print(clv(umsaetze, zinssatz))

1006.9605280314928

In [72]:
sum(umsaetze)

1500