In [1]:
import pandas as pd

In [2]:
#Write a Pandas program to get the powers of an array values element-wise.
#Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels

In [3]:
df=pd.DataFrame({'Students':['A','B','C','D'],'Subjects':['DSD','AI/ML','COA','ALGORITHMS'],'Marks':[50,90,80,80]})

In [4]:
df

  Students    Subjects  Marks
0        A         DSD     50
1        B       AI/ML     90
2        C         COA     80
3        D  ALGORITHMS     80

In [5]:
#Write a Pandas program to get the first 3 rows of a given DataFrame.

In [6]:
data=pd.read_csv('../input/iris/Iris.csv')

In [7]:
data.iloc[:3]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [8]:
#Write a Pandas program to select the specified columns and rows from a given data frame.

In [9]:
data.loc[:3,'SepalLengthCm']

0    5.1
1    4.9
2    4.7
3    4.6
Name: SepalLengthCm, dtype: float64

In [10]:
#Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

In [11]:
data2=pd.read_csv('../input/heart-failure-clinical-data/heart_failure_clinical_records_dataset.csv')

In [12]:
data2.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [13]:
data2.loc[data2.serum_creatinine.isnull()]

Empty DataFrame
Columns: [age, anaemia, creatinine_phosphokinase, diabetes, ejection_fraction, high_blood_pressure, platelets, serum_creatinine, serum_sodium, sex, smoking, time, DEATH_EVENT]
Index: []

In [14]:
#Since no NAN is found