In [1]:
import numpy as np
import pandas as pd
gender_submission = pd.read_csv("../input/titanic/gender_submission.csv")
test = pd.read_csv("../input/titanic/test.csv")
train = pd.read_csv("../input/titanic/train.csv")

In [2]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
print(train.shape)
print(test.shape)

(891, 12)
(418, 11)

In [5]:
def lacking_table(df): 
    null_val = df.isnull().sum()
    percent = 100 * df.isnull().sum()/len(df)
    lacking_table = pd.concat([null_val, percent], axis=1)
    lacking_table_ren_columns = lacking_table.rename(
    columns = {0 : '欠損数', 1 : '%'})
    return lacking_table_ren_columns

In [6]:
lacking_table(train)

             欠損数          %
PassengerId    0   0.000000
Survived       0   0.000000
Pclass         0   0.000000
Name           0   0.000000
Sex            0   0.000000
Age          177  19.865320
SibSp          0   0.000000
Parch          0   0.000000
Ticket         0   0.000000
Fare           0   0.000000
Cabin        687  77.104377
Embarked       2   0.224467

In [7]:
lacking_table(test)

             欠損数          %
PassengerId    0   0.000000
Pclass         0   0.000000
Name           0   0.000000
Sex            0   0.000000
Age           86  20.574163
SibSp          0   0.000000
Parch          0   0.000000
Ticket         0   0.000000
Fare           1   0.239234
Cabin        327  78.229665
Embarked       0   0.000000

欠損データが存在している。Trainデータ内にあるCabinデータは欠損数が大きすぎるため、考慮しないこととする。
AgeとEmbarkedの欠損データに対しては、それぞれの中央値を当てはめる。

In [8]:
train["Age"] = train["Age"].fillna(train["Age"].median())
train["Embarked"] = train["Embarked"].fillna("S")

lacking_table(train)

             欠損数          %
PassengerId    0   0.000000
Survived       0   0.000000
Pclass         0   0.000000
Name           0   0.000000
Sex            0   0.000000
Age            0   0.000000
SibSp          0   0.000000
Parch          0   0.000000
Ticket         0   0.000000
Fare           0   0.000000
Cabin        687  77.104377
Embarked       0   0.000000

In [9]:
train["Sex"][train["Sex"] == "male"] = 0
train["Sex"][train["Sex"] == "female"] = 1
train["Embarked"][train["Embarked"] == "S" ] = 0
train["Embarked"][train["Embarked"] == "C" ] = 1
train["Embarked"][train["Embarked"] == "Q"] = 2

train.head()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0

In [10]:
test["Age"] = test["Age"].fillna(test["Age"].median())
test["Sex"][test["Sex"] == "male"] = 0
test["Sex"][test["Sex"] == "female"] = 1
test["Embarked"][test["Embarked"] == "S"] = 0
test["Embarked"][test["Embarked"] == "C"] = 1
test["Embarked"][test["Embarked"] == "Q"] = 2
test.Fare[152] = test.Fare.median()

test.head()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",0,34.5,0,0,330911,7.8292,NaN,2
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,363272,7.0000,NaN,0
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,240276,9.6875,NaN,2
3,895,3,"Wirz, Mr. Albert",0,27.0,0,0,315154,8.6625,NaN,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,3101298,12.2875,NaN,0

モデルを生成する。
比較的大きいデータセットであり、高次元でもあるといえるので、『Pythonではじめる機械学習』(オーム社、Andres C. Muller, Sarah Guido著、中田秀基訳)に基づき、最初に線形モデルを試す。

Model 1: LogisticRegression

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [12]:
# 説明変数と目的変数の設定
target = train["Survived"].values
features = train[["Pclass", "Sex", "Age",]].values

X_train, X_test, y_train, y_test = train_test_split(features, target, stratify=target, random_state=30)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(668, 3) (223, 3) (668,) (223,)

In [13]:
logreg = LogisticRegression().fit(X_train, y_train)

print(logreg.score(X_train, y_train))
print(logreg.score(X_test, y_test))

0.8068862275449101
0.7713004484304933

訓練精度がテスト精度より高いので、過学習？
パラメータCを小さくして正則化を試みる。

In [14]:
logreg01 = LogisticRegression(C=0.1).fit(X_train, y_train)
print(logreg01.score(X_train, y_train))
print(logreg01.score(X_test, y_test))

0.8008982035928144
0.7937219730941704

In [15]:
logreg001 = LogisticRegression(C=0.01).fit(X_train, y_train)
print(logreg001.score(X_train, y_train))
print(logreg001.score(X_test, y_test))

0.7604790419161677
0.7623318385650224

C=0.01まで行くと精度が落ちてしまった。この時は適合不足であると考えられる。
C=0.1のスコアが一番高かった。

Model 2: LinerSVC

In [16]:
from sklearn.svm import LinearSVC

In [17]:
#LSVC = LinearSVC.fit(X_train, y_train)
#print(LSVC.score(X_train, y_train))
#print(LSVC.score(X_test, y_test))

Model 3: RandomForest

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
forest = RandomForestClassifier(n_estimators=100, random_state=30).fit(X_train, y_train)
print(forest.score(X_train, y_train))
print(forest.score(X_test, y_test))

0.8877245508982036
0.8071748878923767

LogisticRegressionと同じように過学習。
RandomForestは過学習しにくいとあったが...
よくわからないのでパラメータをいろいろいじってみる。

In [20]:
forest1000 = RandomForestClassifier(n_estimators=1000, random_state=30).fit(X_train, y_train)
print(forest1000.score(X_train, y_train))
print(forest1000.score(X_test, y_test))

0.8877245508982036
0.7982062780269058

In [21]:
forest1 = RandomForestClassifier(n_estimators=100, max_features=3, random_state=30).fit(X_train, y_train)
print(forest1.score(X_train, y_train))
print(forest1.score(X_test, y_test))

0.8877245508982036
0.8071748878923767

In [22]:
forest2 = RandomForestClassifier(n_estimators=100, max_features=1, random_state=30).fit(X_train, y_train)
print(forest2.score(X_train, y_train))
print(forest2.score(X_test, y_test))

0.8877245508982036
0.8071748878923767

In [23]:
forest = RandomForestClassifier(n_estimators=100, max_depth=None, random_state=30).fit(X_train, y_train)
print(forest.score(X_train, y_train))
print(forest.score(X_test, y_test))

0.8877245508982036
0.8071748878923767

全然変化しないのでお手上げ状態。

Model 4: GradientBoosting

In [24]:
from sklearn.ensemble import GradientBoostingClassifier

In [25]:
GBS = GradientBoostingClassifier(random_state=30).fit(X_train, y_train)
print(GBS.score(X_train, y_train))
print(GBS.score(X_test, y_test))
# defaultだと深さ３の決定木が100個で、学習率は0.1

0.8682634730538922
0.7802690582959642

勾配ブースティングではパラメータが他の手法より大事であるようなので、いろいろ試してみる。(このモデルも過学習している。)

In [26]:
GBS1 = GradientBoostingClassifier(random_state=30, max_depth=1).fit(X_train, y_train)
print(GBS1.score(X_train, y_train))
print(GBS1.score(X_test, y_test))

0.8083832335329342
0.757847533632287

In [27]:
# n_estimators=1000
GBS2 = GradientBoostingClassifier(random_state=30, n_estimators=1000).fit(X_train, y_train)
print(GBS2.score(X_train, y_train))
print(GBS2.score(X_test, y_test))

0.8832335329341318
0.8116591928251121

In [28]:
# n_estimators=10000
GBS3 = GradientBoostingClassifier(random_state=30, n_estimators=10000).fit(X_train, y_train)
print(GBS3.score(X_train, y_train))
print(GBS3.score(X_test, y_test))

0.8877245508982036
0.8071748878923767

In [29]:
# learning_rate=0.01
GBS4 = GradientBoostingClassifier(random_state=30, learning_rate=0.01).fit(X_train, y_train)
print(GBS4.score(X_train, y_train))
print(GBS4.score(X_test, y_test))

0.8098802395209581
0.7847533632286996

In [30]:
# learning_rate=0.01, n_estimators=10000
GBS5 = GradientBoostingClassifier(random_state=30, learning_rate=0.01, n_estimators=10000).fit(X_train, y_train)
print(GBS5.score(X_train, y_train))
print(GBS5.score(X_test, y_test))

0.8847305389221557
0.8251121076233184

学習率を下げ、決定木の数を増やすことでテスト精度が上昇した。

Model 5: Neural Network

In [31]:
from sklearn.neural_network import MLPClassifier

In [32]:
# defaultで100隠れユニット。
mlp = MLPClassifier(solver='lbfgs', random_state=30).fit(X_train, y_train)
print(mlp.score(X_train, y_train))
print(mlp.score(X_test, y_test))

0.8158682634730539
0.7713004484304933

隠れ層とactivation functionをいじってみる。

In [33]:
mlp = MLPClassifier(solver='lbfgs', random_state=30, hidden_layer_sizes=[10,10]).fit(X_train, y_train)
print(mlp.score(X_train, y_train))
print(mlp.score(X_test, y_test))

0.6167664670658682
0.6143497757847534

In [34]:
mlp = MLPClassifier(solver='lbfgs', activation='tanh', random_state=30).fit(X_train, y_train)
print(mlp.score(X_train, y_train))
print(mlp.score(X_test, y_test))

0.8233532934131736
0.7623318385650224

/opt/conda/lib/python3.6/site-packages/sklearn/neural_network/_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

デフォルトが一番いいスコアを出しているので、デフォルトのパラメータを用いつつ、alphaのみを変化させ正則化を試みる。

In [35]:
mlp = MLPClassifier(solver='lbfgs', random_state=3, alpha=0.1).fit(X_train, y_train)
print(mlp.score(X_train, y_train))
print(mlp.score(X_test, y_test))

0.8188622754491018
0.7757847533632287

/opt/conda/lib/python3.6/site-packages/sklearn/neural_network/_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

-------------------------------------

『Pythonではじめる機械学習』(オーム社、Andres C. Muller, Sarah Guido著、中田秀基訳)で学んだことをわかる範囲で試してみた。結果的には勾配ブースティングが最も正確に分類できていた。